bqplot
ipycanvas>=0.9.1
ipyevents>=2.0.1
ipyleaflet
ipympl>=0.8.2
ipywidgets>=8.0.0,<9
jupyterlab~=3.4.7
jupyterlab-drawio
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

jupyterlab-geojson>=3,<4
jupyterlab-tour
jupyterlite==0.1.0b14

lckr-jupyterlab-variableinspector

jupyterlite-xeus-python

jupyterlab-empinken-extension
jupyterlab-filesystem-access
https://raw.githubusercontent.com/innovationOUtside/jupyterlab_cell_status_extension/main/dist/jupyterlab_cell_status_extension-0.1.3-py3-none-any.whl
https://raw.githubusercontent.com/innovationOUtside/jupyterlab_ou_brand_extension/main/dist/jupyterlab_ou_brand_extension-0.1.0-py3-none-any.whl


plotly>=5,<6
